*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.Guardfile
.config.ru
.refcache
.tags
.targets.mk
/*-[0-9][0-9].xml
archive.json
dra*.html
dra*.xml
report.xml
venv/
lib
draft-bormann-cbor-defining-media-types.xml
